/* ==== GENERAL STYLES ==== */
* {
    box-sizing: border-box;
}
/* Single-direction margin declaration to establish vertical rhythm. */
h1, h2, 
ul, 
p, span, 
img {
    margin-bottom: 1.5rem;
}
body {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
    color: #444349;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    line-height: 1.5rem;

}
.location, .program, .gift, .faq, .contact {
    width: 95%;
    margin: 1.5rem auto;
    padding: 1rem;
    text-align: center;
}
h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
h2 {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: #bd806e;
}
a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
  }
/* ==== HEADER STYLES ==== */
.cover {
    background: url('assets/DSC_5252.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: table;
  }
.wrapper {
    display: table-cell;
    vertical-align: middle;
}
.hero-text {
    background-color: hsla(100,0%,0%,.6);
    margin-top: 12rem;
    padding: 1.5rem;
}
header h1 {
    font-size: 4rem;
    line-height: 1em;
    color: #d2ba87;
}
header .tagline {
   font-size: 1.5rem;
   line-height: 2em;
   color: hsla(0,0%,100%,.9);
   letter-spacing: .15rem;
}
header .date {
    color: hsla(0,0%,100%,.9);
    letter-spacing: .15rem;
}
.tagline::after {
    display: block;
    content:"";
    background-color: white;
    height: 1px;
    width: 12.515625rem;
    margin: 1.2rem auto;
}
.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: white;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}
@media (min-width: 768px) {

    .cover {
        background: url('assets/DSC_5252.jpg') no-repeat;
        background-size: cover;
    }
    .tagline {
        text-transform: uppercase;
    }
    header h1 {
        font-size: 7rem;;
    }
    .hero-text {
        width: 75%;
        border-radius: 4px;
        position: relative;
        top: -15rem;
        margin: 0 auto;
        text-align: center;
    }
}
/* ==== LOCATIONS STYLES ==== */
.location h2 {
   font-size: 1.5rem;
   font-weight: 700;
   margin-top: 2rem;
}
.location img {
    display: block;
    height: 7.5rem;
    margin: 1.5rem auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.location span {
    font-family: 'Muli', sans-serif;
}
.blurb::after {
    display: block;
    content:"";
    background-color: #444349;
    height: .1875rem;
    width: 25vw;
    margin: 2rem auto;
}
@media (min-width: 768px) {

    .blurb {
        display: inline-block;
        width: 30%;
        height: 100%
        padding: 1.5rem;
        margin: .5rem;
        vertical-align: top; 
    }
    .blurb::after {
        display: none;
    }

}
/* ==== PROGRAM STYLES ==== */
.program {
    background-color: hsla(100,0%,0%,.6);
    width: 100%;
    color: #d2ba87;
    padding-left: 2.5rem;
}
.program p {
    text-align: left;
    font-style: italic;
    font-family: 'Muli', sans-serif;
}
.program ul {
    text-align: left;
    font-family: 'Muli', sans-serif;
    letter-spacing: .2rem;
}
@media (min-width: 768px) {

    .program p {
        text-align: center;
    }
    .program ul {
        text-align: center;
    }

}
/* ==== GIFTS STYLES ==== */
.gift img {
    height: 7.5rem;
}
.gift p:last-child {
    margin-bottom: 0;
}
/* ==== FAQ STYLES ==== */
.faq {
    background-color: hsla(100,0%,0%,.6);
    width: 100%;
    color: #d2ba87;
    padding-left: 2.5rem;
}
.faq h1 {
    line-height: 1em;
}
.faq h2 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    margin: 2rem;
}
.faq p {
    font-family: 'Muli', sans-serif;
    text-align: left;
}
.faq .question {
    font-weight: 700;
    margin-bottom: .5rem;
}
.question-group::after {
    display: block;
    content:"";
    background-color: #d2ba87;
    height: .1875rem;
    width: 50vw;
    margin: 2rem auto;
}
@media (min-width: 768px) {

    .question-group {
        display: inline-block;
        width: 30%;
        padding: 1.5rem;
        vertical-align: top;
    }
    .question-group::after {
        display: none;
    }
    .question-group h2 {
        text-align: left;
    }
}
/* ==== FOOTER STYLES ==== */
footer {
    width: 100vw;
    height: 10vh;
    display: table;
    background-color: #606060;
    text-align: center;
    font-size: small;
    color: white;
    font-family: 'Muli', sans-serif;
}
.footer-wrapper {
    display: table-cell;
    vertical-align: middle;
}
@media (min-width: 768px) {

    footer {
      min-height: 7vh;
    }
  
  }
